* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffce00;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #484a4e;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}

nav {
  display: flex;
}

.nav-item {
  display: inline-block;
  color: white;
  font-size: 16px;
  padding: 1em;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-item.logout {
  background-color: #ff0000;
}

.nav-item:hover {
  background-color: #636d70;
}

.about-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.logo {
  width: 50%;
  height: 75px;
}

.title {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}

.house {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.des {
  text-align: center;
  padding-bottom: 20px;
}
.idk {
  width: 250px;
  height: auto;
}
