@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffce00;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #484a4e;
}

.logo {
  width: 50%;
  height: 75px;
}

.photo-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  column-gap: 1%;
  row-gap: 15px;
}

.card-container {
  justify-self: center;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  max-width: 100%;
}

.title {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}

nav {
  display: flex;
}

.nav-item {
  display: inline-block;
  color: white;
  font-size: 16px;
  padding: 1em;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-item.logout {
  background-color: #ff0000;
}

.nav-item:hover {
  background-color: #636d70;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: calc(100% - 4rem);
  row-gap: 32px;
}

.search input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 400px;
  max-width: 100%;
  margin-bottom: 1rem;
}

.search button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #155263;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search button:hover {
  background-color: #636d70;
}

.hidden {
  display: none;
}

/* Media Query */

@media screen and (max-width: 1000px) {
  photo-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}

@media screen and (max-width: 750px) {
  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  .logo {
    width: 75%;
  }
}

@media screen and (max-width: 500px) {
  #locationSearch {
    margin-bottom: 0;
    width: 350px;
  }

  .photo-container {
    grid-template-columns: 1fr;
  }

  header {
    display: block;
  }

  header nav {
    align-items: center;
    justify-content: center;
  }

  .title {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    width: 100%;
    height: 200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 350px) {
  #locationSearch {
    width: 250px;
  }
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  z-index: 101;
}

#popup.active {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.search {
  position: relative;
}

#filterFormContainer {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

#filterFormContainer label {
  display: block;
  margin: 5px 0;
}

#filterFormContainer input {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  box-sizing: border-box;
}

#filterFormContainer button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  max-width: 150px;
}

#filterFormContainer button:hover {
  opacity: 0.8;
}

#filterFormContainer .range {
  display: flex;
  align-items: center;
}

#filterFormContainer .range input {
  width: 40%;
}

#filterFormContainer .range label {
  margin: 0 5px;
}

#filterFormContainer .parking-options {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

#filterFormContainer .parking-options input {
  margin-right: 5px;
}

.centered-button-container {
  display: flex;
  justify-content: center;
}
.centered-button {
  margin-top: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #16ce44;
}

.card-container:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.card-container img {
  width: 100%;
  height: 200px;
}

.wish-list {
  border: 2px solid gray; 
  border-radius: 20px;
  float: right;
  box-shadow: inset 0 0 0 0 black;
  color: grey;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  background-image: url('./img/wish.jpg');
  background-size: cover;
  background-position: center;
}
.wish-list:hover{
  box-shadow: inset 2000px 0 0 0 transparent;
  color:#54b3d6;
}
.werd {
  animation: color-animation 4s linear infinite;
}
.werd-1 {
  --color-1: black;
  --color-2:#54b3d6;
  --color-3: yellow;
}
.werd-2 {
  --color-1: black;
  --color-2: #54b3d6;
  --color-3: yellow;
}
@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}
.wurd {
  display: grid;
  place-items: center;  
  text-align: center;
  height: 8;
}
.tet {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 8.5;
  text-transform: uppercase;
}
.photo-container.wish-list .card-container {
  display: inline-block;
  border: 1px solid #54b3d6;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
input[type="submit"] {
  background-color: #54b3d6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #3a8ba3;
}
.surt{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #333;
}
