@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffce00;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #484a4e;
}

.logo {
  width: 50%;
  height: 75px;
}

#photo-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  column-gap: 1%;
  row-gap: 15px;
}

.card-container {
  justify-self: center;
  text-align: center;
}

.title {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}

nav {
  display: flex;
}

.nav-item {
  display: inline-block;
  color: white;
  font-size: 16px;
  padding: 1em;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-item.logout {
  background-color: #ff0000;
}

.nav-item:hover {
  background-color: #636d70;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: calc(100% - 4rem);
  row-gap: 32px;
}

.search input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 400px;
  max-width: 100%;
  margin-bottom: 1rem;
}

.search button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #155263;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search button:hover {
  background-color: #636d70;
}

.hidden {
  display: none;
}

/* Media Query */

@media screen and (max-width: 1000px) {
  #photo-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}

@media screen and (max-width: 750px) {
  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  .logo {
    width: 75%;
  }
}

@media screen and (max-width: 500px) {
  #locationSearch {
    margin-bottom: 0;
    width: 350px;
  }

  #photo-container {
    grid-template-columns: 1fr;
  }

  header {
    display: block;
  }

  header nav {
    align-items: center;
    justify-content: center;
  }

  .title {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    width: 100%;
    height: 200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 350px) {
  #locationSearch {
    width: 250px;
  }
}

#popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
#popup.active {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

#filterFormContainer {
  display: none;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
}

#filterFormContainer label {
  display: block;
  margin: 5px 0;
}

#filterFormContainer input {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  box-sizing: border-box;
}

#filterFormContainer button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  max-width: 150px;
}

#filterFormContainer button:hover {
  opacity: 0.8;
}

#filterFormContainer .range {
  display: flex;
  align-items: center;
}

#filterFormContainer .range input {
  width: 40%;
}

#filterFormContainer .range label {
  margin: 0 5px;
}

#filterFormContainer .parking-options {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

#filterFormContainer .parking-options input {
  margin-right: 5px;
}

.centered-button-container {
  display: flex;
  justify-content: center;
}
.centered-button {
  margin-top: 10px;
}
